@model IEnumerable<AspNetTeam_Prj.Models.Item>
@{
    ViewBag.Title = "ItemDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listing_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.like_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.fname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listing_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.like_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.category_name)
        </td>
        <td>
            <img src="~/Content/img/item/@item.img_path" alt="Image" />
            @Html.DisplayFor(modelItem => item.User.fname)
        </td>

        <td>
                @Html.ActionLink("Detail", "Detail", new
            {
                item_id = item.item_id,
                ShowAlreadyLikedModal = false
            })
    
        </td>
    </tr>
    }
    </table>
