@model IEnumerable<NeighTrade.Models.Item>
@{
    ViewBag.Title = "ItemDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Fname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            <img src="~/Content/img/item/@item.ImgPath" alt="Image" />
            @Html.DisplayFor(modelItem => item.User.Fname)
        </td>

        <td>
                @Html.ActionLink("Detail", "Detail", new
                {
                    item_id = item.ItemId,
                    ShowAlreadyLikedModal = false
                })
    
        </td>
    </tr>
    }
    </table>
