@model NeighTrade.Models.Item

@{
    ViewBag.Title = "Post Ad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/main.js")

@using (Html.BeginForm("Create", "PostAd", FormMethod.Post, new {
    enctype = "multipart/form-data"
})) {
    @Html.AntiForgeryToken()

<div class="post-ad-container">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <input type="text" name="UserId" value="@Session["UserId"]" hidden />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Ad title", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, "Category", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.Category, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ListingPrice, "Price", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ListingPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ListingPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Image upload -->
        <div class="btn btn-info" id="btn-select-img">Upload image</div>
        <input type='file' id="imgInp" name="ImgFile" hidden />
        <p style="text-align: center;">
            <img id="img-preview" src="#" alt="your image" accept="image/*" />
            <input id="img-path" type="text" name="ImgPath" value="" hidden>
        </p>

        <!-- Post button -->
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Post" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
</div>
}
